@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    /* colors*/
    --primary-color: #012E58;
    --secondary-color: #f2f8f7;
    --third-color:#004381;
    --fourth-color:#005cb3;
    --text-color:white;
    --bar-color: rgb(199, 199, 199);

    /* text */
    --font-principal-title: "Roboto", sans-serif;
    --font-text: arial, sans-serif;

    /* default shadow*/
    --default-shadow: 3px 2px 6px rgba(0, 0, 0, 0.5);
}

/* default settigs tags*/

body{
    background-color: var(--secondary-color);
}

p{
    font-family: var(--font-text);
    text-align: justify;
    margin: 10px 0px;
    text-indent: 10px;
    line-height: 20pt;
}

img{
    cursor: pointer;
}

hr{
    margin-top: 20px;
}

ul li::marker{
    color: var(--third-color);
}

/* container settings*/

.container{
    display: flex;
    margin: 0 auto;
}

/* main settings*/

main{
    max-width: 900px;
    min-width: 320px;
    height: max-content;
    margin: 0 auto;
    padding: 40px 40px 0px 60px;
    flex: 1;
}

@media (min-width: 1700px ) {
    main{
        margin: 0px 142px;
    }
}

/* Aside settings*/

aside{
    min-width: 300px;
    max-width: 400px;
    background-color: var(--primary-color);
    box-shadow: 3px -2px 6px rgba(0, 0, 0, 0.5);
}

aside h2{
    color: var(--secondary-color);
    font-family: var(--font-principal-title);
    background-color: var(--third-color);
    padding: 8px 20px;
    margin: 10px -3px;
    box-shadow: var(--default-shadow);
}

/* aside image profile*/

aside .img_profile img{
    width: 250px;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid var(--third-color); 
    display: block;
    box-shadow: var(--default-shadow);
}

aside .img_profile img:hover{
    border: 5px solid var(--secondary-color); 
}

/* aside blocos */

aside .bloco_1{
    padding: 15px 10px;
}

aside .bloco_2{
    padding: 15px;
}

aside .bloco_3{
    padding: 15px;
}

/* Aside bloco 01*/

aside .bloco_1 p{
    margin-bottom: 30px;
    text-align: left;
    color: var(--secondary-color);
    font-family: var(--font-principal-title);
    padding-left: 10px;
    text-indent: 0px;
    
}

aside .bloco_1 p a{
    text-decoration: none;
    color: var(--secondary-color);
}

aside .bloco_1 p a:hover{
    text-decoration: underline;
    color: aqua;
}

/* icones bloco 01*/

aside .bloco_1 .phone_icon::before{
    content: url("../images/bloco_01/phone_icon.svg");
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 8px 8px 0px 6px;
}

aside .bloco_1 .email_icon::before{
    content: url("../images/bloco_01/email_icon.svg");
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 7px 7px 0px 7px;
}

aside .bloco_1 .linkedin_icon::before{
    content: url("../images/bloco_01/linkedin_icon.svg");
    display: inline-block;
    vertical-align: middle;
    margin-right: 12px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 8px 8px 0px 8px;
}


/* Aside bloco 02*/

aside .bloco_2 p{
    color: var(--secondary-color);
    font-family: var(--font-text);
    font-weight: bold;
}

aside .bloco_2 p span{
    float: inline-end;
    padding-right: 10px;
}

aside .bloco_2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 10px;
    margin: 0;
}


aside .bloco_2 ul li{
    background-color: var(--secondary-color);
    width: 50px;
    height: 12px;
    margin-right: 10px;
    border-radius: 2px;
    list-style-type: none;
}

/* Aside bloco 03*/

aside .bloco_3 p{
    margin-bottom: 30px;
    text-align: left;
    color: var(--secondary-color);
    font-family: var(--font-principal-title);
    padding-left: 10px;
    text-indent: 0px;
    
}

/* article settings*/

article h1{
    margin: 20px 0px;
    font-size: 3em;
    font-family: var(--font-principal-title);
    text-align: center;
}

.underline_name{
    background-color: var(--third-color);
    width: 70%;
    height: 7px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

article h2{
    font-size: 1.4em;
    font-family: var(--font-text);
    display: inline;
    color:var(--third-color);
 }



/* linha lateral */ 

.linha_lateral_article{
    background-color: var(--bar-color);
    width: 6px ;
    height: 1900px;
    position: absolute;
    margin-top: 28px;
}

.linha_lateral_article ul{
    list-style-type: none;
}

/* blocos article */

.bloco_article_work, .bloco_article_study, .bloco_article_skills, .bloco_article_courses{
    padding: 15px 20px 0px 40px;
}

/* work bloco*/

.bloco_article_work .work_icon{
    position: relative;
    right: 61px;
    top: 10px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 5px;
}

.bloco_article_work .title_bloco_article{
    font-size: 1.4em;
    font-family: var(--font-text);
    display: inline;
    color:var(--third-color);
    right: 52px;
    top: -10px;
    position: relative;
    vertical-align: middle;
 }

 .bloco_article_work .first_short_circle{
    background-color:var(--third-color);
    border-radius: 50%;
    padding: 8px;
    position: relative;
    display: inline-block;
    top: -20px;
    right: 45px;
}

.bloco_article_work h3{
        font-size: 1.2em;
        font-family: var(--font-text);
        margin-top: 40px;
}

/* study bloco*/

.bloco_article_study .study_icon{
    position: relative;
    right: 61px;
    top: 10px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.bloco_article_study .title_bloco_article{
    font-size: 1.4em;
    font-family: var(--font-text);
    display: inline;
    color:var(--third-color);
    right: 52px;
    top: 10px;
    position: relative;
    vertical-align: middle;
 }

 .bloco_article_study .first_short_circle{
    background-color:var(--third-color);
    border-radius: 50%;
    padding: 8px;
    position: relative;
    display: inline-block;
    top: -20px;
    right: 45px;
}

.bloco_article_study h3{
    font-size: 1.2em;
    font-family: var(--font-text);
    margin-top: 50px;
}

.bloco_article_study .barra_lateral_study{
    background-color: var(--bar-color);
    position: relative;
    padding: 30px 3px;
    left: -6px;
    top: 40px;
    z-index: -1;
}

.bloco_article_study ul li{
    list-style-position: inside;
}

.bloco_article_study ul li::marker{
    font-size: 3em; 
}

.bloco_article_study ul p{
    display: inline;
    margin: 0px 50px;
}

.bloco_article_study ul #first_point::after{
    content: "2023";
    margin-left: -40px;
    top: -8px;
    position: relative;
    font-family: var(--font-text);
}

.bloco_article_study ul #second_point::after{
    content: "2027";
    margin-left: -40px;
    top: -8px;
    position: relative;
    font-family: var(--font-text);
}

/* skills bloco*/

.bloco_article_skills .skills_icon{
    position: relative;
    right: 61px;
    top: 10px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 5px;
    vertical-align: middle;
}

.bloco_article_skills .title_bloco_article{
    font-size: 1.4em;
    font-family: var(--font-text);
    display: inline;
    color:var(--third-color);
    right: 52px;
    top: 10px;
    position: relative;
    vertical-align: middle;
 }

 .bloco_article_skills .first_short_circle{
    background-color:var(--third-color);
    border-radius: 50%;
    padding: 8px;
    position: relative;
    display: inline-block;
    top: 10px;
    right: 45px;
}

.bloco_article_skills ul{
    margin-top: 40px;
}

.bloco_article_skills ul li{
    list-style-position: inside;
}

.bloco_article_skills ul li p{
    display: inline;
}

/* courses bloco*/

.bloco_article_courses .courses_icon{
    position: relative;
    right: 61px;
    top: 10px;
    background-color: var(--third-color);
    border-radius: 50%;
    padding: 5px;
}

.bloco_article_courses .title_bloco_article{
    font-size: 1.4em;
    font-family: var(--font-text);
    display: inline;
    color:var(--third-color);
    right: 52px;
    top: -10px;
    position: relative;
    vertical-align: middle;
 }

 .bloco_article_courses .first_short_circle{
    background-color:var(--third-color);
    border-radius: 50%;
    padding: 8px;
    position: relative;
    display: inline-block;
    top: -20px;
    right: 45px;
}

.bloco_article_courses h3{
    font-size: 1.2em;
    font-family: var(--font-text);
    margin-top: 50px; 
}

/* 1600px media*/
